In [163]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support import ui
from bs4 import BeautifulSoup
import pandas as pd
import re

In [245]:
url = 'https://manager.paypal.com/'
browser = webdriver.Firefox()
browser.get(url)

In [246]:
with open('credentials.txt') as file:
    partnerName = file.readline()
    vendorName = file.readline()
    userID = file.readline()
    password = file.readline()

In [247]:
elem1 = browser.find_element_by_name('partnerName')  # Find the search box
elem1.send_keys(partnerName)
elem2 = browser.find_element_by_name('vendorName')  # Find the search box
elem2.send_keys(vendorName)
elem3 = browser.find_element_by_name('userID')  # Find the search box
elem3.send_keys(userID)
elem4 = browser.find_element_by_name('password')  # Find the search box
elem4.send_keys(password + Keys.RETURN)

In [248]:
def page_is_loaded(driver):
    return driver.find_element_by_css_selector(".horizontalScroll") != None
wait = ui.WebDriverWait(browser, 10)
wait.until(page_is_loaded)
#browser.page_source

True

In [249]:
elem5 = browser.find_element_by_css_selector(".menu > dl:nth-child(1) > dd:nth-child(7) > a:nth-child(1) > span:nth-child(2)")
elem5.click()

In [250]:
elem6 = browser.find_element_by_link_text('Manage Profiles')
elem6.click()

In [251]:
elem7 = browser.find_element_by_css_selector("#manageProfile > form:nth-child(1) > table:nth-child(2) > tfoot:nth-child(5) > tr:nth-child(1) > td:nth-child(2) > input:nth-child(2)")
elem7.click()

In [252]:
source = browser.page_source
soup = BeautifulSoup(source, "lxml")
table = soup.find("table")
data = []
headers = ['ProfileId', 'Profile Name', 'Last Name', 'First Name', 'Status', 'Account Number', \
           'Expiration Date', 'Amount', 'Frequency', 'Term', 'Established Date', 'Start Date', 'Next Payment Date', \
           'Deactivation Date', 'Profile Modified Date']
for i in range(5):
    for row in table.findAll("tr"):
        cells = row.findAll("td")
        d = {}
        for header, cell  in zip(headers, cells):
            d[header] = cell.text
        data.append(d)
    elem8 = browser.find_element_by_css_selector('div.paging:nth-child(1) > a:nth-child(4)')
    print(elem8.text)
    elem8.click()

Next
Next
Next
Next
Next

In [237]:
df = pd.DataFrame().from_dict(data)[headers]

In [238]:
df.head(100)

,ProfileId,Profile Name,Last Name,First Name,Status,Account Number,Expiration Date,Amount,Frequency,Term,Established Date,Start Date,Next Payment Date,Deactivation Date,Profile Modified Date
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,RP0000003132,CELESTE M HOWARD,HOWARD,CELESTE M,Active,5037,1019,USD 10.00,Monthly,9999,"Mon Mar 13, 2017","Tue Mar 14, 2017","Fri Jul 14, 2017",,"Wed Jun 14, 2017"
2,RP0000001436,???? ????????,????????,????,Active,4258,0817,"USD 100,000.00",Monthly,9999,"Sat Oct 17, 2015","Mon Oct 19, 2015","Wed Jul 19, 2017",,"Mon Jun 19, 2017"
3,RP0000003064,A Sandra ABRAMSON,ABRAMSON,A Sandra,Active,2004,0122,USD 10.00,Monthly,9999,"Fri Feb 10, 2017","Sat Feb 11, 2017","Tue Jul 11, 2017",,"Sun Jun 11, 2017"
4,RP0000003047,A Sandra Abramson,Abramson,A Sandra,Active,2004,0122,USD 18.00,Monthly,9999,"Wed Feb 08, 2017","Thu Feb 09, 2017","Sun Jul 09, 2017",,"Fri Jun 09, 2017"
5,RP0000003048,A Sandra Abramson,Abramson,A Sandra,Active,2004,0122,USD 18.00,Monthly,9999,"Wed Feb 08, 2017","Thu Feb 09, 2017","Sun Jul 09, 2017",,"Fri Jun 09, 2017"
6,RP0000002240,AHMET ERDOGAN,ERDOGAN,AHMET,Active,6547,0419,USD 5.00,Monthly,9999,"Sun Jun 19, 2016","Mon Jun 20, 2016","Thu Jul 20, 2017",,"Tue Jun 20, 2017"
7,RP0000000835,ALAM ALAM,ALAM,ALAM,Active,6309,1118,USD 25.00,Yearly,0,"Mon Dec 08, 2014","Tue Dec 09, 2014","Sat Dec 09, 2017",,"Wed Mar 01, 2017"
8,RP0000001815,ALTAF LOOKMANJEE,LOOKMANJEE,ALTAF,Active,5973,1217,USD 10.00,Monthly,9999,"Sat Feb 20, 2016","Sun Feb 21, 2016","Fri Jul 21, 2017",,"Wed Jun 21, 2017"
9,RP0000001567,ARETA CROWELL,CROWELL,ARETA,Active,8427,0818,USD 50.00,Monthly,9999,"Tue Dec 22, 2015","Wed Dec 23, 2015","Sun Jul 23, 2017",,"Fri Jun 23, 2017"
10,RP0000002689,ARETA CROWELL,CROWELL,ARETA,Active,8427,0818,USD 8.00,Monthly,9999,"Fri Dec 09, 2016","Sat Dec 10, 2016","Mon Jul 10, 2017",,"Sat Jun 10, 2017"
11,RP0000003017,ARETA CROWELL,CROWELL,ARETA,Active,8427,0818,USD 50.00,Monthly,9999,"Fri Jan 27, 2017","Sun Jan 29, 2017","Sat Jul 29, 2017",,"Thu Jun 29, 2017"
12,RP0000002518,Aamer Abowath,Abowath,Aamer,Active,6374,0117,USD 25.00,Monthly,9999,"Wed Sep 14, 2016","Thu Sep 15, 2016","Sat Jul 15, 2017",,"Thu Jun 15, 2017"
13,RP0000003408,Aamer Abowath,Abowath,Aamer,Active,6374,1021,USD 35.00,Monthly,9999,"Mon May 15, 2017","Tue May 16, 2017","Sun Jul 16, 2017",,"Fri Jun 16, 2017"
14,RP0000003093,Aaron Chan,Chan,Aaron,Active,3011,0321,USD 7.00,Monthly,9999,"Sat Feb 25, 2017","Sun Feb 26, 2017","Wed Jul 26, 2017",,"Mon Jun 26, 2017"
15,RP0000003112,Aaron Chan,Chan,Aaron,Active,3011,0321,USD 7.00,Monthly,9999,"Thu Mar 09, 2017","Fri Mar 10, 2017","Mon Jul 10, 2017",,"Sat Jun 10, 2017"
16,RP0000001161,Aaron Freeman,Freeman,Aaron,Active,4335,0116,USD 5.00,Monthly,9999,"Wed May 06, 2015","Thu May 07, 2015","Mon Aug 07, 2017",,"Fri Jul 07, 2017"
17,RP0000001347,Aaron Jacobs,Jacobs,Aaron,Active,6006,0816,USD 10.00,Monthly,9999,"Fri Aug 07, 2015","Sat Aug 08, 2015","Tue Aug 08, 2017",,"Sat Jul 08, 2017"
18,RP0000002834,Abbas Bandali,Bandali,Abbas,Active,7501,0919,USD 25.00,Monthly,9999,"Thu Dec 29, 2016","Fri Dec 30, 2016","Sun Jul 30, 2017",,"Fri Jun 30, 2017"
19,RP0000001315,Abby Okrent,Okrent,Abby,Active,6545,0917,USD 18.00,Monthly,9999,"Mon Jul 20, 2015","Tue Jul 21, 2015","Fri Jul 21, 2017",,"Wed Jun 21, 2017"
20,RP0000001673,Abdeen Jabara,Jabara,Abdeen,Active,2006,0320,USD 20.00,Monthly,9999,"Thu Dec 31, 2015","Fri Jan 01, 2016","Tue Aug 01, 2017",,"Sat Jul 01, 2017"
21,RP0000001853,Abdinassir Tabit,Tabit,Abdinassir,Active,1009,0720,USD 36.00,Monthly,9999,"Mon Mar 14, 2016","Tue Mar 15, 2016","Sat Jul 15, 2017",,"Thu Jun 15, 2017"
22,RP0000000444,Abdul Najimudeen,Najimudeen,Abdul,Active,4779,0617,USD 18.00,Monthly,9999,"Mon Jul 14, 2014","Tue Jul 15, 2014","Sat Jul 15, 2017",,"Thu Jun 15, 2017"
23,RP0000002717,Abdul Najimudeen,Najimudeen,Abdul,Active,1464,0619,USD 20.00,Monthly,9999,"Sun Dec 18, 2016","Mon Dec 19, 2016","Wed Jul 19, 2017",,"Mon Jun 19, 2017"
24,RP0000003292,Abdulaziz Albataa,Albataa,Abdulaziz,Active,4885,0319,USD 18.00,Monthly,9999,"Tue Apr 04, 2017","Wed Apr 05, 2017","Sat Aug 05, 2017",,"Wed Jul 05, 2017"
25,RP0000002122,Abdullah Kapic,Kapic,Abdullah,Active,6859,0220,USD 5.00,Monthly,9999,"Thu May 12, 2016","Fri May 13, 2016","Thu Jul 13, 2017",,"Tue Jun 13, 2017"
26,RP0000002679,Abdullah mayar,mayar,Abdullah,Active,2994,1219,USD 18.00,Monthly,9999,"Sun Dec 04, 2016","Mon Dec 05, 2016","Sat Aug 05, 2017",,"Wed Jul 05, 2017"
27,RP0000001356,Abe Qutub,Qutub,Abe,Active,1759,0918,USD 35.00,Monthly,9999,"Wed Aug 12, 2015","Fri Jan 13, 2017","Thu Jul 13, 2017",,"Tue Jun 13, 2017"
28,RP0000001502,Abed Khatib,Khatib,Abed,Active,8674,0419,USD 5.00,Monthly,9999,"Mon Nov 23, 2015","Tue May 24, 2016","Mon Jul 24, 2017",,"Sat Jun 24, 2017"
29,RP0000001846,Abed Kouttainay,Kouttainay,Abed,Active,7794,1018,USD 20.00,Monthly,9999,"Fri Mar 11, 2016","Sat Mar 12, 2016","Wed Jul 12, 2017",,"Mon Jun 12, 2017"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,RP0000001315,Abby Okrent,Okrent,Abby,Active,6545,0917,USD 18.00,Monthly,9999,"Mon Jul 20, 2015","Tue Jul 21, 2015","Fri Jul 21, 2017",,"Wed Jun 21, 2017"
71,RP0000001673,Abdeen Jabara,Jabara,Abdeen,Active,2006,0320,USD 20.00,Monthly,9999,"Thu Dec 31, 2015","Fri Jan 01, 2016","Tue Aug 01, 2017",,"Sat Jul 01, 2017"
72,RP0000001853,Abdinassir Tabit,Tabit,Abdinassir,Active,1009,0720,USD 36.00,Monthly,9999,"Mon Mar 14, 2016","Tue Mar 15, 2016","Sat Jul 15, 2017",,"Thu Jun 15, 2017"
73,RP0000000444,Abdul Najimudeen,Najimudeen,Abdul,Active,4779,0617,USD 18.00,Monthly,9999,"Mon Jul 14, 2014","Tue Jul 15, 2014","Sat Jul 15, 2017",,"Thu Jun 15, 2017"
74,RP0000002717,Abdul Najimudeen,Najimudeen,Abdul,Active,1464,0619,USD 20.00,Monthly,9999,"Sun Dec 18, 2016","Mon Dec 19, 2016","Wed Jul 19, 2017",,"Mon Jun 19, 2017"
75,RP0000003292,Abdulaziz Albataa,Albataa,Abdulaziz,Active,4885,0319,USD 18.00,Monthly,9999,"Tue Apr 04, 2017","Wed Apr 05, 2017","Sat Aug 05, 2017",,"Wed Jul 05, 2017"
76,RP0000002122,Abdullah Kapic,Kapic,Abdullah,Active,6859,0220,USD 5.00,Monthly,9999,"Thu May 12, 2016","Fri May 13, 2016","Thu Jul 13, 2017",,"Tue Jun 13, 2017"
77,RP0000002679,Abdullah mayar,mayar,Abdullah,Active,2994,1219,USD 18.00,Monthly,9999,"Sun Dec 04, 2016","Mon Dec 05, 2016","Sat Aug 05, 2017",,"Wed Jul 05, 2017"
78,RP0000001356,Abe Qutub,Qutub,Abe,Active,1759,0918,USD 35.00,Monthly,9999,"Wed Aug 12, 2015","Fri Jan 13, 2017","Thu Jul 13, 2017",,"Tue Jun 13, 2017"
79,RP0000001502,Abed Khatib,Khatib,Abed,Active,8674,0419,USD 5.00,Monthly,9999,"Mon Nov 23, 2015","Tue May 24, 2016","Mon Jul 24, 2017",,"Sat Jun 24, 2017"
80,RP0000001846,Abed Kouttainay,Kouttainay,Abed,Active,7794,1018,USD 20.00,Monthly,9999,"Fri Mar 11, 2016","Sat Mar 12, 2016","Wed Jul 12, 2017",,"Mon Jun 12, 2017"
81,RP0000001062,Abeer El-Turk,El-Turk,Abeer,Active,4900,0217,USD 20.00,Monthly,9999,"Wed Mar 04, 2015","Thu Mar 05, 2015","Sat Aug 05, 2017",,"Wed Jul 05, 2017"
82,RP0000000500,Abigail Abysalh Metzger,Abysalh Metzger,Abigail,Active,5033,0519,USD 20.00,Monthly,9999,"Mon Jul 21, 2014","Tue Jul 22, 2014","Sat Jul 22, 2017",,"Thu Jun 22, 2017"
83,RP0000001883,Abigail Abysalh Metzger,Abysalh Metzger,Abigail,Active,6031,0221,USD 8.00,Monthly,9999,"Wed Mar 23, 2016","Thu Mar 24, 2016","Mon Jul 24, 2017",,"Sat Jun 24, 2017"
84,RP0000001273,Abigail Metzger,Metzger,Abigail,Active,5033,0519,USD 18.00,Monthly,9999,"Fri Jul 03, 2015","Sat Jul 04, 2015","Fri Aug 04, 2017",,"Tue Jul 04, 2017"
85,RP0000000860,Abigail Okrent,Okrent,Abigail,Active,4838,0915,USD 18.00,Monthly,9999,"Mon Dec 22, 2014","Tue Dec 23, 2014","Sun Jul 23, 2017",,"Fri Jun 23, 2017"
86,RP0000000910,Abraham Danial,Danial,Abraham,Active,9998,0916,USD 10.00,Monthly,9999,"Mon Dec 29, 2014","Tue Dec 30, 2014","Sun Jul 30, 2017",,"Fri Jun 30, 2017"
87,RP0000000209,Abraham Greenhouse,Greenhouse,Abraham,Active,1111,0616,USD 18.00,Monthly,9999,"Mon Dec 23, 2013","Tue Dec 24, 2013","Wed Sep 24, 2014",,"Thu Feb 23, 2017"
88,RP0000000210,Abraham Greenhouse,Greenhouse,Abraham,Active,1111,0616,USD 240.00,Monthly,9999,"Mon Dec 23, 2013","Tue Dec 24, 2013","Wed Sep 24, 2014",,"Thu Feb 23, 2017"
89,RP0000002835,Abu Rahman,Rahman,Abu,Active,8945,0318,USD 10.00,Monthly,9999,"Thu Dec 29, 2016","Fri Dec 30, 2016","Sun Jul 30, 2017",,"Fri Jun 30, 2017"
90,RP0000000970,Aby (Aban) Rajani,Rajani,Aby (Aban),Active,5794,0817,USD 20.00,Monthly,9999,"Wed Jan 07, 2015","Thu Sep 08, 2016","Tue Aug 08, 2017",,"Sat Jul 08, 2017"
91,RP0000000636,Adam Levenstein,Levenstein,Adam,Active,5579,0718,USD 10.00,Monthly,9999,"Thu Aug 14, 2014","Fri Aug 15, 2014","Sat Jul 15, 2017",,"Thu Jun 15, 2017"
92,RP0000002143,Adi Ophir,Ophir,Adi,Active,6785,0519,USD 10.00,Monthly,9999,"Mon May 16, 2016","Tue May 17, 2016","Mon Jul 17, 2017",,"Sat Jun 17, 2017"
93,RP0000000790,Adnan Hasan,Hasan,Adnan,Active,1424,0217,USD 5.00,Monthly,9999,"Fri Oct 17, 2014","Sat Oct 18, 2014","Tue Jul 18, 2017",,"Sun Jun 18, 2017"
94,RP0000000887,Adnan Hasan,Hasan,Adnan,Active,1424,0217,USD 5.00,Monthly,9999,"Wed Dec 24, 2014","Thu Dec 25, 2014","Tue Jul 25, 2017",,"Sun Jun 25, 2017"
95,RP0000000934,Adnan Yusuf,Yusuf,Adnan,Active,2008,1117,USD 5.00,Monthly,9999,"Wed Dec 31, 2014","Thu Jan 01, 2015","Tue Aug 01, 2017",,"Sat Jul 01, 2017"
96,RP0000002247,Adnan Yusuf,Yusuf,Adnan,Active,2008,0220,USD 5.00,Monthly,9999,"Fri Jun 24, 2016","Sat Jun 25, 2016","Tue Jul 25, 2017",,"Sun Jun 25, 2017"
97,RP0000002249,Adnan Yusuf,Yusuf,Adnan,Active,2008,0220,USD 5.00,Monthly,9999,"Fri Jun 24, 2016","Sat Jun 25, 2016","Tue Jul 25, 2017",,"Sun Jun 25, 2017"
98,RP0000002435,Agnes Maier,Maier,Agnes,Active,1458,0720,USD 35.00,Monthly,9999,"Wed Aug 17, 2016","Thu Aug 18, 2016","Tue Jul 18, 2017",,"Sun Jun 18, 2017"
99,RP0000000464,Agnes Murray,Murray,Agnes,Active,3845,1116,USD 20.00,Monthly,9999,"Wed Jul 16, 2014","Thu Jul 17, 2014","Mon Jul 17, 2017",,"Sat Jun 17, 2017"

In [239]:
df[df['Profile Name'] == '  CELESTE  M HOWARD']

,ProfileId,Profile Name,Last Name,First Name,Status,Account Number,Expiration Date,Amount,Frequency,Term,Established Date,Start Date,Next Payment Date,Deactivation Date,Profile Modified Date
1,RP0000003132,CELESTE M HOWARD,HOWARD,CELESTE M,Active,5037,1019,USD 10.00,Monthly,9999,"Mon Mar 13, 2017","Tue Mar 14, 2017","Fri Jul 14, 2017",,"Wed Jun 14, 2017"
52,RP0000003132,CELESTE M HOWARD,HOWARD,CELESTE M,Active,5037,1019,USD 10.00,Monthly,9999,"Mon Mar 13, 2017","Tue Mar 14, 2017","Fri Jul 14, 2017",,"Wed Jun 14, 2017"
103,RP0000003132,CELESTE M HOWARD,HOWARD,CELESTE M,Active,5037,1019,USD 10.00,Monthly,9999,"Mon Mar 13, 2017","Tue Mar 14, 2017","Fri Jul 14, 2017",,"Wed Jun 14, 2017"
154,RP0000003132,CELESTE M HOWARD,HOWARD,CELESTE M,Active,5037,1019,USD 10.00,Monthly,9999,"Mon Mar 13, 2017","Tue Mar 14, 2017","Fri Jul 14, 2017",,"Wed Jun 14, 2017"
205,RP0000003132,CELESTE M HOWARD,HOWARD,CELESTE M,Active,5037,1019,USD 10.00,Monthly,9999,"Mon Mar 13, 2017","Tue Mar 14, 2017","Fri Jul 14, 2017",,"Wed Jun 14, 2017"

In [226]:
df['Profile Name'].values[1]

'  CELESTE  M HOWARD'